<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.ktds.dojun.board.web.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntroServlet</display-name>
    <servlet-name>IntroServlet</servlet-name>
    <servlet-class>com.ktds.dojun.board.web.IntroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntroServlet</servlet-name>
    <url-pattern>/intro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteServlet</display-name>
    <servlet-name>WriteServlet</servlet-name>
    <servlet-class>com.ktds.dojun.board.web.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteActionServlet</display-name>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <servlet-class>com.ktds.dojun.board.web.DoWriteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <url-pattern>/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailServlet</display-name>
    <servlet-name>ViewDetailServlet</servlet-name>
    <servlet-class>com.ktds.dojun.board.web.ViewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteActionServlet</display-name>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <servlet-class>com.ktds.dojun.board.web.DoDeleteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyServlet</display-name>
    <servlet-name>ViewModifyServlet</servlet-name>
    <servlet-class>com.ktds.dojun.board.web.ViewModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyActionServlet</display-name>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <servlet-class>com.ktds.dojun.board.web.DoModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>characterEncodingFilter</display-name>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>com.ktds.dojun.common.web.characterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>