<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>book</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewListServlet</display-name>
    <servlet-name>ViewListServlet</servlet-name>
    <servlet-class>com.ktds.dojun.book.books.web.ViewListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListServlet</servlet-name>
    <url-pattern>/books/list</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEndcodingFilter</display-name>
    <filter-name>CharacterEndcodingFilter</filter-name>
    <filter-class>com.ktds.dojun.common.web.CharacterEndcodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEndcodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewWriteServlet</display-name>
    <servlet-name>ViewWriteServlet</servlet-name>
    <servlet-class>com.ktds.dojun.book.books.web.ViewWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWriteServlet</servlet-name>
    <url-pattern>/books/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteActionServlet</display-name>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <servlet-class>com.ktds.dojun.book.books.web.DoWriteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <url-pattern>/books/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyServlet</display-name>
    <servlet-name>ViewModifyServlet</servlet-name>
    <servlet-class>com.ktds.dojun.book.books.web.ViewModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyServlet</servlet-name>
    <url-pattern>/books/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailServlet</display-name>
    <servlet-name>ViewDetailServlet</servlet-name>
    <servlet-class>com.ktds.dojun.book.books.web.ViewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailServlet</servlet-name>
    <url-pattern>/books/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyActionServlet</display-name>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <servlet-class>com.ktds.dojun.book.books.web.DoModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <url-pattern>/books/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteServlet</display-name>
    <servlet-name>DoDeleteServlet</servlet-name>
    <servlet-class>com.ktds.dojun.book.books.web.DoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteServlet</servlet-name>
    <url-pattern>/books/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.ktds.dojun.book.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>