<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>overwatch</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DoCreateActionServlet</display-name>
    <servlet-name>DoCreateActionServlet</servlet-name>
    <servlet-class>com.ktds.dojun.web.DoCreateActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCreateActionServlet</servlet-name>
    <url-pattern>/doCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewListServlet</display-name>
    <servlet-name>ViewListServlet</servlet-name>
    <servlet-class>com.ktds.dojun.web.ViewListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCreateServlet</display-name>
    <servlet-name>ViewCreateServlet</servlet-name>
    <servlet-class>com.ktds.dojun.web.ViewCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCreateServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyServlet</display-name>
    <servlet-name>ViewModifyServlet</servlet-name>
    <servlet-class>com.ktds.dojun.web.ViewModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyActionServlet</display-name>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <servlet-class>com.ktds.dojun.web.DoModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteActionServlet</display-name>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <servlet-class>com.ktds.dojun.web.DoDeleteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <url-pattern>/doDelete</url-pattern>
  </servlet-mapping>
</web-app>